.buttonFill{
    background-color: #457762;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.buttonOutline{
    border: 1px solid #457762;
    color: #457762;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

}

.buttonFill:hover{
    background-color: #365c4c;
    color: white;
}

.buttonOutline:hover{
    background-color: #45776227;
    color:  #457762;

}