#navLoginBtn, #logoutBtn{
    background-color: #457762;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: none;

}

#navSignUpBtn{
    border: 1px solid #457762;
    color: #457762;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

}

#navLoginBtn:hover, #logoutBtn:hover{
    background-color: #365c4c;
    color: white;
}

#navSignUpBtn:hover{
    background-color: #45776227;
    color:  #457762;
}

.usernameBadge{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #104c4e;
}

.usernameBadge span{
    font-weight: 600;
}

.nav-item .nav-link{
    font-weight: 600;
}

.nav-link:hover {
    color: #457762;;
}