#reviewDeleteBox h2{
    font-weight: 500;
}

#reviewDeleteBox .confirmMsg{
    font-size: 1.2rem;
    font-weight: 500;
    color:  #457762;
}

#deleteConfirmBtn{
    background-color: #457762;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#deleteCancelBtn{
    border: 1px solid #457762;
    color: #457762;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#deleteConfirmBtn:hover{
    background-color: #365c4c;
    color: white;

}

#deleteCancelBtn:hover{
    background-color: #45776227;
    color:  #457762;
}