#reviewDetailBox h2{
    font-weight: 800;
}

#reviewDetailBox .detailTitles{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(59, 58, 58);
}

#reviewEditBtn{
    background-color: #457762;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#reviewDeleteBtn{
    border: 1px solid #457762;
    color: #457762;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#reviewEditBtn:hover{
    background-color: #365c4c;
    color: white;
}

#reviewDeleteBtn:hover{
    background-color: #45776227;
    color:  #457762;
}

#reviewDetailBox #reviewReview{
    width: 500px;
    font-weight: 500;
    /* color: #457762; */
}