#reviewForm h2{
    font-weight: 500;
    color:#104c4e;
}

#reviewForm label{
    font-weight: 500;
    color: rgb(59, 58, 58);
}

#btnUpload{
    background-color: #457762;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: none;

}

#reviewCancelBtn{
    border: 1px solid #457762;
    color: #457762;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#btnUpload:hover{
    background-color: #365c4c;
    color: white;

}

#reviewCancelBtn:hover{
    background-color: #45776227;
    color:  #457762;
}


